@font-face {
  font-family: 'Aller Display';
  src: url('/assets/aller-display.eot?') format('eot'),
       url('/assets/aller-display.woff') format('woff'),
       url('/assets/aller-display.ttf') format('truetype'),
       url('/assets/aller-display.svg#webfontN0NR7NsD') format('svg');
}

h1, h2, h3, h4, h5, h6, .rainbox-hfont {
  font-family: 'Aller Display', sans-serif;
  font-size-adjust: 0.52;
  font-style: normal;
  font-size-weight: normal;
  text-transform: lowercase;
  line-height: .77em;
}

.rainbox-font {
  font-family: 'Aller', sans-serif;
  /* TODO */
}
